html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; font-size: 24px;}
ol, ul {list-style: none;}
a {text-decoration: none;}

h1 {font-family: 'Forum', serif;}
h3, p, span.side-nav-link {font-family: quicksand, sans-serif; font-weight: 100; color: #fff;}
h3 {letter-spacing: 0.6vw; font-size: 0.7vw;}
.side-nav {position: fixed; left: 0; top: 0; height: 100vh; width: 2vw; z-index: 9999; background-color: #848484; overflow: hidden; box-shadow: 0.1vw 0 0.4vw #222; transition: all 0.4s;}
.side-nav-arrow {position: relative; left: 10%; margin-top: 20px; color: white; transition: all 0.4s;}
.side-nav-arrow:hover {transform: translateY(-0.4vh); filter: drop-shadow(0 0.4vh 0 rgba(34,34,34,0.6)); transition: all 0.4s;}
.side-nav-hidden {display: none;}
.side-nav-link {font-size: 1rem;}
.side-nav:hover {width: 10%; transition: all 0.4s;}
.landing {width: 100vw; height: 100vh; max-width: 100%; z-index: 100; display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: #fff}
.name-container {width: min-content; text-align: left; margin: 0 auto; z-index: 10; border-bottom: 0.5vw solid #222; padding-bottom: 1%; color: #222;mix-blend-mode: difference;}
.name-container h1 {font-size: 7vw; line-height: 0.75;}
.char1, .char2, .char3, .char4, .char5, .char6 {margin-right: 1.05%;}
.char9, .char10, .char11, .char12, .char13 {margin-right: 2.7%;}
/*.char15, .char16, .char17, .char18, .char19, .char20, .char21 {margin-right: 0.3%;}*/
.char22 {display: inline-block; -webkit-transform: rotate(20deg);}
.job-title-container {position: relative; z-index: 10;}
.job-title-container h3 {margin-top: 4%; color: #222;}
.about-container {position: relative; height: 100vh; display: flex; flex-flow: column nowrap; justify-content: space-around;}
.about-box {display: inline-block; position: relative; left: 50%; width: 30%; min-height: 240px; background-color: #222; box-shadow: 0.05vw 0.1vw 0.13vw rgba(34,34,34,0.4); transition: all 0.3s;}
.about-box:hover {transform: scale(1.02,1.02) translateY(-2%); box-shadow: 0.1vw 0.2vw 0.26vw rgba(34,34,34,0.4), -0.05vw 0.1vw 0.26vw rgba(34,34,34,0.4); transition: all 0.3s;}
.about-box p {margin: 4%;}
.demo-container {position: relative; width: 100vw; height: 100vh; max-width: 100%; display: flex; align-items: center; justify-content: space-around; background-color: white}
.demo-box {display: inline-block; box-sizing: border-box; width: 27.5%; height: 60vh; z-index: 100; box-shadow: 0.2vw 0.3vw 0.3vw rgba(34,34,34,0.4); background-color: #73819A; transition: all 0.3s;}
.carousel-container {width: 100%; height: 90%; background-color: white; display: flex; justify-content: center; align-items: center;}
.carousel {display: flex; flex-direction: row; justify-content: center; align-items: center; width: 86%; height: auto;}
.carousel-image {}
.slick-arrow {border: none; margin: 0 4%; font-size: 1.5rem; color: white; background-color: #73819A;}
.link-container {display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-around; background-image: url("../img/mountains2.svg"); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh;}
a.link-logo {width: 12%; filter: drop-shadow(0 0 0 0);}
a.link-logo img {width: 100%; transition: all 0.2s;}
a.link-logo img:hover {mix-blend-mode: difference; transform: translateY(-1vh); filter: drop-shadow(0 1vh 0 rgba(34,34,34,0.6)); transition: all 0.2s;}

#skills-container {display: inline-block; width:}
#silhouette {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 28%; display: none; z-index: 2;}
#silhouette1 {position: absolute; top: 51%; left: 51%; transform: translate(-51%, -51%); width: 28%; display: none; z-index: 2; mix-blend-mode: difference;}
#silhouette2 {position: absolute; top: 49%; left: 49%; transform: translate(-49%, -49%); width: 28%; display: none; z-index: 2; mix-blend-mode: difference;}
#cartoon-me {position: fixed; top: -24%; left: 0; z-index: -1; width: 100vw;}
#overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #222; opacity: 0; display: none; z-index: 20;}

/* ----------------------------------------------
* Generated by Animista
* w: http://animista.net, t: @cssanimista
* @author Ana Travas, @ana108
* ---------------------------------------------- */
.flip-vertical-right {-webkit-animation: flip-vertical-right 2s linear infinite; animation: flip-vertical-right 4s linear infinite;}
.fade-in {-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both; animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;}
.flip-in-hor-bottom {-webkit-animation: flip-in-hor-bottom 2s linear 1.4s both; animation: flip-in-hor-bottom 2s linear 1.4s both;}
@-webkit-keyframes flip-vertical-right {
  0% {-webkit-transform: rotateY(0); transform: rotateY(0);}
  100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@keyframes flip-vertical-right {
  0% {-webkit-transform: rotateY(0); transform: rotateY(0);}
  100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {-webkit-transform: rotateX(80deg); transform: rotateX(80deg); opacity: 0;}
  100% {-webkit-transform: rotateX(0); transform: rotateX(0); opacity: 1;}
}
@keyframes flip-in-hor-bottom {
  0% {-webkit-transform: rotateX(80deg); transform: rotateX(80deg); opacity: 0;}
  100% {-webkit-transform: rotateX(0); transform: rotateX(0); opacity: 1;}
}

@media all and (max-width: 768px) {
	.name-container h1 {font-size: 20vw;}
	.job-title-container h3 {font-size: 4vw;}
	.side-nav {width: 100vw; height: 8vh;}
	.side-nav:hover {width: 100vw; height: 40vw;}
	.about-box {width: 90%; left: 5%; min-height: 0; height: 160px;}
	.about-box h3 {font-size: 0.8rem; letter-spacing: 0.4rem;}
	.about-box p {font-size: 1rem;}
	.demo-container {height: auto; flex-flow: column nowrap;}
	.demo-box {width: 100%;}

	#silhouette {width: 70%; top: 56%;}
	#cartoon-me {width: auto;}
}


.KW_progressContainer {
  left:0;
  width: 100%;
  height: 1vh;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  background-color: #848484;
  content: "";
	display: table;
	table-layout: fixed;
}

.KW_progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color: white;
  -webkit-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
}










#shift-container {
  position: relative;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  background-color: white;
}

#burger-shadow, #burger-bun-bottom, #burger-patty, #burger-mustard, #burger-lettuce-1, #burger-lettuce-2, #burger-tomato-1, #burger-tomato-2, #burger-bun-top {
 position: absolute;
}

#burger-shadow     {top: 50.0%; left: 3.0%; z-index: 5; width: 25.0%; height: 26.3%;}
#burger-bun-bottom {top: 48.0%; left: 1.2%; z-index:10; width: 22.4%; height: 26.3%;}
#burger-patty      {top: 42.6%; left: 1.1%; z-index:20; width: 22.4%; height: 26.0%;}
#burger-mustard    {top: 42.5%; left: 4.8%; z-index:30; width: 16.7%; height: 20.0%;}
#burger-lettuce-1  {top: 39.0%; left: 0.4%; z-index:40; width: 17.2%; height: 23.0%;}
#burger-lettuce-2  {top: 38.0%; left: 6.1%; z-index:50; width: 17.2%; height: 21.1%;}
#burger-tomato-1   {top: 40.0%; left: 0.8%; z-index:60; width: 16.7%; height: 13.8%;}
#burger-tomato-2   {top: 35.0%; left: 6.4%; z-index:70; width: 17.2%; height: 17.1%;}
#burger-bun-top    {top: 23.0%; left: 1.0%; z-index:80; width: 22.4%; height: 26.0%;}
